
.containerCart {
    margin: 50px;

}

.containerCart ul {
    margin-top: 50px;
}

.containerCart button {
    margin-left: 400px;
    color: white;
    width: 90px;
    height: 22px;
    border-radius: 5px;
    background-color: blue;
    cursor: pointer;  
    
}

