.productDetailCont {
    margin: 50px;
}

.productDetailCont input {
    margin-top: 20px;
    margin-right: 5px;
    width: 40px;
    height: 25px;

}

.productDetailCont button {
    width: 90px;
    height: 22px;
    border-radius: 8px;
    background-color: coral;
    cursor: pointer;

}

.productDetailCont h2 {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: blue;
}

.productDetailCont h3 {
    text-align: justify;
    line-height: 1.5em;
}


.imgProductDetail {
    margin-top: 20px;
    width: 400px;
    height: 300px;
    object-fit: contain;
}

@media screen and (max-width:800px) {

    .imgProductDetail {
        width: 300px;
        height: 250px;
        object-fit: contain;

    }

    .ContainerCard {
        text-align: center;
    }


}